# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
/html
/data
/config
/.py
/.sh
/.txt


# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Sensitive information
password.txt

# Large binary files
*.traineddata
/public/uploads/

# IDE и редактори
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.vs/
*.swp
*.swo

# Логове и временни файлове
logs/
*.log
tmp/
temp/

# Файлове за кеширане
.cache/
.eslintcache
.stylelintcache

# Специфични за операционната система
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
Icon?

# Специфични за Node.js
.node_repl_history
.npm

# Специфични за Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.so
.Python
.coverage*

# Бази данни
*.sqlite
*.sqlite3
*.db

# Документация и доклади
/docs/
/reports/

# Други компилирани файлове и binary-та
*.com
*.class
*.dll
*.exe
*.o
*.out

